* {
    text-align: center;
}

.play {
    transition: 1s!important;
    -webkit-animation: rotation 5s infinite linear;
}

.green {
    background:green;
    color: white;
}

.red {
    background: red;
    color: white;
}

@-webkit-keyframes rotation {
    from {
        -webkit-transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(359deg);
    }
}

#disc {
    width: 400px;
    display: block;
    margin: 20px auto;
}

#btn {
    font-size: 15px;
    padding: 15px;
    margin: 0px auto;
    cursor: pointer;
    border-radius: 10px;
    border: none;
    margin: 0 auto;
}

#btn > span {
    margin-left: 10px;
}